@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@1000&family=Raleway&display=swap');

body{
    background-color: #213439;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
}

.footBtn{
    background-color:#0000005e;
    color: rgb(214, 200, 0);
    fill: rgb(214, 200, 0);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: none;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.footBtn:hover{
    opacity: 1;
    background-color:   rgb(214, 200, 0);
    color: #000000;
    svg{
        fill: #000000;
    }
}

.gradient{
    background: linear-gradient(30deg,rgb(18, 25, 30),  rgb(57, 79, 81));
}
.gradient2{
    background: linear-gradient(150deg,rgb(18, 25, 30),  rgb(57,79, 81));
}
.nav{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav img{
    height: 70px;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

#section{
    padding: 0px 20px;
    width: 100%; 
    min-height: 100vh;
    overflow: hidden;
    /* gradient */
}

#name{
    font-size: 60px;
    font-weight: 600;
}

.bg-text{
    color: #000000;
    background-color: rgb(214, 200, 0);
    border-radius: 3px;
    min-width: 10px;
    padding: 0px 5px;
}

.bg-text2{
    color: #000000;
    background-color: rgb(214, 200, 0);
    border-radius: 3px;
    min-width: 10px;
    padding: 0px 10px;
}


svg{
    width: 20px;
    height: 20px;
    fill: white;
    margin: 2px 7px;
    transition: all 0.3s ease-in-out;
}

.justify{
    text-align: justify;
}

.card{
    background-color: #ffffff;
    height: 65vh;
    border-radius: 0px;
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card:hover{
    background-color: rgb(214, 200, 0);
    color: #000000;
    svg{
        fill: #000000;
    }
    .fillYellow{
        fill: #000000;
        color: #000000;
    }
}

.c1{
    background-color: transparent;
    color:white;
    border: none;
}

.marg{
    margin: 0px 30px;
}
          
.bigSVG{
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
}
.fillYellow{
    fill:rgb(214, 200, 0);
    color: rgb(214, 200, 0);
}

@media screen and (max-width: 768px){
    .nav img{
        margin-left: 20px;
        margin-top: 10px;
    }
    .nav ul{
        float: right;
        margin-right: 20px;
    }

    .section{
        width: 100%;
        min-height: 100vh;
    }

    *{
        overflow-x: hidden;
        font-size: 20px;
    }

    body{
        padding:0px;
    }

    #name{
        font-size: 40px;
    }

    .bg-text2{
        font-size: 40px;
        margin : 0px 10px;
    }

    .bg-textx{
        font-size: 28px;
        margin : 0px 10px;
    }

    p{
        font-size: 16px;
        padding: 0px 10px;
    }

    svg{
        margin: 3px 5px;
    }
    .svgtext{
        font-size: 15px;
        padding: 3px;
    }
    .row{
        margin: 0px;
        padding: 0px;
    }
    .container{
        padding: 0px;
        margin: 0px;

    }

    .margin{
        margin: 0px;
    }

    .card{
        height: 45vh;
        padding: 10px;
        width: 100%;
    }

}
